# BasedOnStyle: mozilla
BasedOnStyle: WebKit
ColumnLimit: 120
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
BreakBeforeBraces: Attach
ReflowComments: true
AlignAfterOpenBracket: true
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: AcrossEmptyLines
NamespaceIndentation: All
